<section id="card-news">
  <a target="_blank" (click)="redirectToPage(url)">
    <div class="container pt-1">
      <div class="image">
        <img [src]="urlToImage" alt="Imagem de um Pokemon" width="120" height="80">
      </div>
    </div>

    <!-- nav-bar-card-news -->
    <div id="info" class="mt-1 mb-1">
      <div id="title">
        <p>{{ title }}</p>
      </div>

      <div id="bar-info" class="container pt-1">
        <div id="nameAndDate">
          <p>{{ companyName }} • {{ publishedAt }}</p>
        </div>

        <div id="right-bar-news">
          <div class="heart-bg">
            <div class="heart-icon" (click)="vibrate(); clickButton($event);"></div>
          </div>
          <button>
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </button>
          <button>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </button>
        </div>
        <!--Nome da Empresa-->
        <!--Data em 'horas' ou 'dias'-->
        <!--Botão para Curtir a Notícia-->
        <!--Botão para compartilhar nas Redes Sociais-->
        <!--Botão de 'Mais opções':
          1) Não tenho interesse neste item
          2) Não em um tema
          3) Não mostrar conteúdo
          4) Gerenciar meus interesses
          5) Denunciar
          6) Enviar feedback
        -->
      </div>
    </div>
  </a>

  <!-- Separates Components when stacked -->
  <div id="bar"></div>
</section>
