<ng-container *ngFor="let newsItem of allNews">
  <section>
    <app-card-news
      [title]="newsItem.title"
      [description]="newsItem.description"
      [url]="newsItem.url"
      [urlToImage]="newsItem.urlToImage"
      [publishedAt]="newsItem.publishedAt"
    ></app-card-news>
  </section>
</ng-container>

<div class="container pt-2 pb-3">
  <button id="button-view-more" *ngIf="hasMoreNews()" (click)="toTraverseNews()">
    <a class="container">
      <p>View more</p>
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </a>
  </button>
</div>
